<from>
  Username:<input type="text"id="txt1" name="Username"
  [(ngModel)]="username"><br>
  Password:<input type="password"id="txt2" name="password"
  [(ngModel)]="password"><br>
  <input type="button" value="Login"id="button1"(click)="OnLoginClick()"><br>
  <span id="span1">{{message}}</span>
</from>